/* COLOR #007d7b*/

body{
    width:485px;
    margin:0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    background-color: #000000;
    color: #ffffff;
    font-family:Arial, Helvetica, sans-serif;
   
}


h1{
    background-color: #ffffff;
    color: #007d7b;
    text-align: center;

}

main {
    background-color: #ffffff;
    align-content: center;

   
}


nav a {
    text-transform: uppercase;
    font-size: 1.5em;
    color:#ffffff;
    text-decoration: none;

}

nav li{
    display:inline;
    padding-inline: 10px;
    color:#ffffff;
}

nav h2{
    visibility: hidden;
}


#about ,h2{
    text-align: center;
    color:#000000;
}

#gallery{
    color:#000000;
}

p{
    text-align: left;
    color:#000000;
}


/* Fig captions */

figure {
    display: flex;
    flex-flow: column;
    padding: 20px;
    margin: auto;
  }
  
  figcaption {
    color: #000000;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
  }
  


/*CONTACT FORM*/


form{
	width: 300px;
	margin: 10px auto; 
}

input, textarea{
	display: block;
	width: 100%;
    color:#007d7b;
    
}

textarea{
    color:#007d7b;
}


label{
    color: #000000;
    text-transform: uppercase;

}

input[type="submit"]{
	background-color: #007d7b;
	border: none;
	color: #ffffff;
	font-size: 1em;
	font-weight: normal;
    text-transform: uppercase;
    border-radius: 50px;
}

input[type=text]{
    color:#007d7b;
}

#contact p {
    text-align: center;
    color:#ffffff;

}


footer{
    position:relative;
    text-transform: uppercase;
  
    
}
/*medium screen css*/

@media screen and (min-width: 880px) {
    body {
        width: 880px;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 20px; 
    }

    #gallery h2 {
        text-align: center;
    }

    #gallery section {
        width: 50%; 
        margin-right: 10px; 
    }

    #gallery section:last-child {
        margin-right: 0; 
    }

    #gallery section figure img {
        max-width: 100%;
    }
}





/*large screen css*/

@media screen and (min-width: 1300px) {
    body {
        width: 880px;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        gap: 20px; 
    }

    #gallery h2 {
        text-align: center;
    }

    #gallery section {
        width: 33.3333%; 
        margin-right: 20px; 
    }

    #gallery section:last-child {
        margin-right: 0; 
    }

    #gallery section figure img {
        max-width: 100%;
    }
}


 

